version: 2.1

orbs:
  macos: circleci/macos@2.5.1

executors:
  mxe-executor:
    docker:
      - image: openscad/mxe-x86_64-gui:latest
    resource_class: large
  appimage-build-executor:
    docker:
      - image: ${CIRCLE_PROJECT_USERNAME}/appimage-base:<< pipeline.git.revision >>
    resource_class: large
  docker-x86_64:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: large
  docker-aarch64:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: arm.medium
  wasm-executor:
    docker:
      - image: cimg/base:current
  macos-executor:
    resource_class: m4pro.medium
    macos:
      xcode: 26.1
  python-executor:
    docker:
      - image: cimg/python:3.14

commands:
  # Provides OPENSCAD_VERSION and OPENSCAD_COMMIT
  establish_version:
    steps:
      - run:
          name: Establish Version
          command: |
              source scripts/establish_version.sh
              echo "export OPENSCAD_COMMIT=$(openscad_commit)" >> $BASH_ENV
              echo "export OPENSCAD_VERSION=$(openscad_version)" >> $BASH_ENV
  get_source:
    parameters:
      method:
        type: string
        default: git
    steps:
      - when:
          condition:
            equal: [ git, << parameters.method >> ]
          steps:
            - checkout
            - run: git submodule update --init --recursive
      - when:
          condition:
            not:
              equal: [ git, << parameters.method >> ]
          steps:
            - attach_workspace:
                at: /tmp/workspace
            - run:
                name: "Unpack tarball"
                command: tar -xzf /tmp/workspace/openscad-*.tar.gz --strip-components=1
  setup-sccache:
    steps:
      - run:
          name: Install sccache
          command: |
              SCCACHE_VERSION=0.12.0
              SCCACHE_TGZ="sccache-v${SCCACHE_VERSION}-x86_64-unknown-linux-musl.tar.gz"
              curl -fsSL -o "/tmp/${SCCACHE_TGZ}" \
                "https://github.com/mozilla/sccache/releases/download/v${SCCACHE_VERSION}/${SCCACHE_TGZ}"
              tar -xzf "/tmp/${SCCACHE_TGZ}" -C /tmp
              install -m 0755 "/tmp/sccache-v${SCCACHE_VERSION}-x86_64-unknown-linux-musl/sccache" /usr/local/bin/sccache
  restore-sccache-cache:
    steps:
      - restore_cache:
          name: Restore sccache cache
          key: sccache-cache-stable-{{ arch }}-{{ .Environment.CIRCLE_JOB }}
  save-sccache-cache:
    steps:
      - save_cache:
          name: Save sccache cache
          # We use {{ epoch }} to always upload a fresh cache:
          # Of course, restore_cache will not find this exact key,
          # but it will fall back to the closest key (aka the most recent).
          # See https://discuss.circleci.com/t/add-mechanism-to-update-existing-cache-key/9014/13
          key: sccache-cache-stable-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ epoch }}
          paths:
            - "~/.cache/sccache"

jobs:
  test-oidc:
    executor: wasm-executor
    steps:
      - run:
          name: test oidc
          command: echo "$(circleci run oidc get --claims "{\"aud\":\"${CIRCLE_ORGANIZATION_ID}\"}")"

workflows:
  version: 2
  "Infra & snapshot build":
    jobs:
      - test-oidc
